[Unit]
Description=Uran ROS2 Move Node
Requires=uran_core.service
After=uran_core.service
After=network-online.target local-fs.target
Wants=network-online.target
RequiresMountsFor=/SDCARD

[Service]
Type=simple
User=mi
WorkingDirectory=/SDCARD/uran_ws
ExecStart=/bin/bash -c /SDCARD/uran_ws/scripts/start_uran_move.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target