[Unit]
Description=Uran ROS2 Core Node (User Service)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/SDCARD/uran_ws
ExecStart=/bin/bash /SDCARD/uran_ws/scripts/start_uran_core.sh
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
