[Unit]
Description=Uran ROS2 Move Node (User Service)
After=uran_core.service
Wants=uran_core.service

[Service]
Type=simple
WorkingDirectory=/SDCARD/uran_ws
ExecStart=/SDCARD/uran_ws/scripts/start_uran_move.sh
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
