[Unit]
Description=Uran ROS2 Autotask Node (User Service)
After=uran_core.service uran_realsense_navigation.service
Wants=uran_core.service uran_realsense_navigation.service

[Service]
Type=simple
WorkingDirectory=/SDCARD/uran_ws
ExecStart=/SDCARD/uran_ws/scripts/start_uran_autotask.sh
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
